@model Student
@{
    Layout = "~/Views/Shared/_LayoutForAddPage.cshtml";
}



<h3 class="text-center text-uppercase" style="letter-spacing:1px  ;color:#072541">Update Student <i class="bi bi-pencil-fill"></i></h3>

<div class="content">




    <div class="inputForm">
        <form method="post">
            <div class="form">
                <label asp-for="FullName" class="mb-2"></label>
                <input type="text" asp-for="FullName" placeholder="Full Name">
                <span asp-validation-for="FullName" class="text-danger"> </span>
            </div>

            <div class="form">
                <label asp-for="StudentNumber" class="mb-2"></label>
                <input type="text" asp-for="StudentNumber" placeholder="Student Number">
                <span asp-validation-for="StudentNumber" class="text-danger"> </span>
            </div>

            <div class="form">
                <label asp-for="Grade" class="mb-2"></label>
                <select asp-for="Grade">
                    <option value="">Grade Name</option>
                    @for (int x = 6; x <= 12; x++)
                    {
                        <option value="@x Th"> @x <span>Th</span> </option>
                    }
                </select>
                <span asp-validation-for="Grade" class="text-danger"> </span>
            </div>
            <button type="submit" class="btn btn-dark me-2">Save Changes</button>
            <a asp-controller="Student" asp-action="AllResults" class="btn btn-primary">Back To Home</a>
        </form>



    </div>

    <div class="logo">
        <img src="~/Images/Update.svg"/>
    </div>


</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />
}